{% extends 'base.html.twig' %}

{% block title %}Hello FeedbackController!{% endblock %}

{% block body %}
    <a href="{{ path('dashboard') }}">Page de Commantaire</a>
    <br>
    <br>

    Espace commentaire
    
    
    {{ form(form ) }}

    

{% endblock %}
